button {
    border: none;
    outline: none;
}

.confirm-button {
    min-width: 50%; 
}

#yesClearConfirmButton {
    background-color: rgb(255, 34, 47);
}

#noClearConfirmButton {
    background-color: #26a69a;
}

#scoreTable {
    overflow: scroll;
    overflow-x: hidden;
    max-height: 40vh;
}

#scoreTable::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: rgba(245, 245, 245, 0.54);
}

#scoreTable::-webkit-scrollbar {
	width: 6px;
	background-color: rgba(245, 245, 245, 0.54);
}

#scoreTable::-webkit-scrollbar-thumb {
	background-color: rgb(226, 37, 49);
}

.clearLevelProgressRow {
    margin: 0; 
    width: 100%; 
    margin-top: 10px; 
    min-height: 40px;
}

.clearLevelProgressButton {
    min-width: 100%; 
    background-color: #26a69a;
}

.tableData {
    border: 1px solid #26a69a;
}