<div (click)="onClick()" id="rightButton" class="corners right-button" #rightButton style="display: table; cursor: pointer; user-select: none;">
    <div *ngIf="gameIsOn" class="material-icons materialIconStyle">
        volume_up
    </div>

    <div *ngIf="!gameIsOn && router.url === '/main'" class="material-icons materialIconStyle">
        grid_on
    </div>
    <div *ngIf="!gameIsOn && router.url === '/game'" class="material-icons materialIconStyle">
        timeline
    </div>
    <div *ngIf="!gameIsOn && router.url === '/stats'" class="material-icons materialIconStyle">
        menu
    </div>

</div>

<div *ngIf="rightButtonFeedbackColor === 'green'" class="greenShadow right-button-feedback-shadow" z-index="-1">

</div>
<div *ngIf="rightButtonFeedbackColor === 'red'" class="redShadow right-button-feedback-shadow" z-index="-1">

</div>